In [210]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 2C28-A088

 Directory of C:\Users\Mewandi\Desktop\AI_Projects\Job_Recommendation_Engine

08/19/2025  10:19 AM    <DIR>          .
08/19/2025  10:19 AM    <DIR>          ..
08/18/2025  02:41 PM    <DIR>          .ipynb_checkpoints
08/05/2025  12:58 PM            20,878 education.csv
08/05/2025  12:58 PM           641,984 employment.csv
08/03/2025  11:36 PM           221,690 Explination.jpeg
08/05/2025  12:58 PM           349,053 jobs.csv
08/18/2025  02:49 PM            57,156 MultinomialNB_solved.ipynb
08/19/2025  10:19 AM            41,724 Untitled-Copy1.ipynb
08/15/2025  11:41 AM               337 Using CNN.ipynb
               7 File(s)      1,332,822 bytes
               3 Dir(s)  508,161,916,928 bytes free

In [211]:
import numpy as np
import pandas as pd

In [212]:
job_df = pd.read_csv("jobs.csv")

job_df.columns

Index(['jobTitle', 'position', 'minBudget', 'maxBudget', 'travelReq',
       'location', 'description', 'attachment', 'orgId', 'jobType', 'skills',
       'recruiter', 'client', 'minExp', 'maxExp', 'noticePeriod', 'status',
       'jobId', 'createDate', 'vacancies', 'priority', 'priceType', 'workType',
       'comment', 'subvendorId', 'Questionnaires', 'country', 'department',
       'eligibility', 'responsibilities'],
      dtype='object')

In [213]:
100 * job_df.isnull().sum() / len(job_df)

jobTitle              0.000000
position              0.000000
minBudget             0.325733
maxBudget             0.325733
travelReq             0.000000
location              0.000000
description           0.000000
attachment           77.850163
orgId                 0.000000
jobType               0.000000
skills                0.000000
recruiter             0.000000
client                0.000000
minExp                0.000000
maxExp                0.000000
noticePeriod          0.000000
status                0.000000
jobId                 0.000000
createDate            0.000000
vacancies            12.052117
priority             14.657980
priceType            16.286645
workType             15.635179
comment              98.371336
subvendorId         100.000000
Questionnaires      100.000000
country              95.114007
department          100.000000
eligibility         100.000000
responsibilities    100.000000
dtype: float64

#### IDs, duplicates, or any column with >95% missing values

In [214]:
job_df = job_df.drop(columns=['comment'])
job_df = job_df.drop(columns=['subvendorId']) 
job_df = job_df.drop(columns=['Questionnaires']) 
job_df = job_df.drop(columns=['country']) 
job_df = job_df.drop(columns=['department']) 
job_df = job_df.drop(columns=['eligibility']) 
job_df = job_df.drop(columns=['responsibilities']) 
job_df = job_df.drop(columns=['orgId']) 
job_df = job_df.drop(columns=['jobId'])
job_df = job_df.drop(columns=['client'])

In [215]:
job_df.columns

Index(['jobTitle', 'position', 'minBudget', 'maxBudget', 'travelReq',
       'location', 'description', 'attachment', 'jobType', 'skills',
       'recruiter', 'minExp', 'maxExp', 'noticePeriod', 'status', 'createDate',
       'vacancies', 'priority', 'priceType', 'workType'],
      dtype='object')

In [216]:
job_df.head(1)

,jobTitle,position,minBudget,maxBudget,travelReq,location,description,attachment,jobType,skills,recruiter,minExp,maxExp,noticePeriod,status,createDate,vacancies,priority,priceType,workType
0,Plant Maintenance Engineer,Plant Maintenance Engineer,300000.0,600000.0,True,{Hyderabad},"Read and understand the data from P&ID, PEFS, ...",NaN,Permanent,"{""Plant Maintenance""}",DB413862,2.0,5.0,15-30 days,Active,2023-01-31 11:09:26.36189,2.0,High,INR,Work from Office

In [217]:
job_df.corr(numeric_only=True)['minBudget']

minBudget    1.000000
maxBudget    0.842138
travelReq    0.092756
minExp       0.038783
maxExp       0.037647
vacancies   -0.007996
Name: minBudget, dtype: float64

In [218]:
job_df.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [219]:
job_col_df = job_df[['jobTitle', 'description', 'status', 'skills']]
#job_col_df

### Employ chossing columns

In [220]:
emp_df = pd.read_csv("employment.csv")

emp_df.columns

Index(['employmentId', 'uploadResume', 'currentCompany', 'currentDesignation',
       'annualSalary', 'industry', 'functionalArea', 'role', 'currentLocation',
       'orgId', 'noticePeriod', 'skills', 'totalWorkExp', 'minExp', 'maxExp',
       'applicantId', 'preferedLocation', 'holdingAnyOffer', 'expectedCtc',
       'feedback', 'comment', 'isCurrent', 'companyEmail', 'packageOffered',
       'lastWorkingDay', 'remarks', 'previousCompany', 'offerLetter',
       'experienceLetter', 'relieveingLetter', 'isRecent', 'paySlips',
       'createdOn'],
      dtype='object')

In [221]:
emp_df = emp_df.drop(columns=['employmentId'])
emp_df = emp_df.drop(columns=['applicantId'])
emp_df = emp_df.drop(columns=['orgId'])

In [222]:
100 * emp_df.isnull().sum() / len(emp_df)

uploadResume           23.773225
currentCompany          4.621248
currentDesignation      2.048595
annualSalary            5.002382
industry                4.525965
functionalArea          5.383516
role                  100.000000
currentLocation         4.764173
noticePeriod            8.575512
skills                  0.000000
totalWorkExp            4.621248
minExp                100.000000
maxExp                100.000000
preferedLocation       26.822296
holdingAnyOffer        27.870414
expectedCtc            26.679371
feedback               98.999524
comment                92.424964
isCurrent              43.163411
companyEmail           66.936636
packageOffered         99.285374
lastWorkingDay         98.999524
remarks                97.189138
previousCompany       100.000000
offerLetter           100.000000
experienceLetter      100.000000
relieveingLetter      100.000000
isRecent              100.000000
paySlips              100.000000
createdOn               0.000000
dtype: float64

In [223]:
emp_df.head(2)

,uploadResume,currentCompany,currentDesignation,annualSalary,industry,functionalArea,role,currentLocation,noticePeriod,skills,...,packageOffered,lastWorkingDay,remarks,previousCompany,offerLetter,experienceLetter,relieveingLetter,isRecent,paySlips,createdOn
0,NaN,ESMOB Technologies,React JS Developer,3.5,1.0,Software Developer,NaN,Hyderabad,NaN,"{css,js}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:49:43.960932
1,NaN,Lejara Global IT Solutions Pvt. Ltd,RPA Developer,4.5,1.0,Software Developer,NaN,Hyderabad,NaN,"{RPA,python}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:49:43.960932

In [224]:
emp_cols_df = emp_df[['functionalArea', 'skills']]

### Education chossing columns

In [225]:
edu_df = pd.read_csv("education.csv")

edu_df.columns

Index(['Id', 'primarySchool', 'primaryPercentage', 'primaryPassoutYear',
       'secondarySchool', 'secondaryPercentage', 'secondaryPassoutYear',
       'graduation', 'graduationPercentage', 'graduationPassoutYear', 'orgId',
       'applicantId', 'certificates', 'name', 'degree', 'fieldOfStudy',
       'percentage', 'certificate', 'createdOn'],
      dtype='object')

In [226]:
edu_df = edu_df.drop(columns=['Id'])
edu_df = edu_df.drop(columns=['applicantId'])
edu_df = edu_df.drop(columns=['orgId'])

In [227]:
edu_df.head(3)

,primarySchool,primaryPercentage,primaryPassoutYear,secondarySchool,secondaryPercentage,secondaryPassoutYear,graduation,graduationPercentage,graduationPassoutYear,certificates,name,degree,fieldOfStudy,percentage,certificate,createdOn
0,NaN,0,0,NaN,0.0,0,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:48:16.349684
1,Marks High school,86,1999,Marks High school,80.0,2001,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:48:16.349684
2,NaN,0,0,NaN,0.0,0,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-08 08:48:16.349684

In [228]:
100 * edu_df.isnull().sum() / len(edu_df)

primarySchool             94.148936
primaryPercentage          0.000000
primaryPassoutYear         0.000000
secondarySchool           95.744681
secondaryPercentage        0.000000
secondaryPassoutYear       0.000000
graduation                95.212766
graduationPercentage       0.000000
graduationPassoutYear      0.000000
certificates              92.021277
name                     100.000000
degree                   100.000000
fieldOfStudy             100.000000
percentage               100.000000
certificate              100.000000
createdOn                  0.000000
dtype: float64

### Let's combine all datas to make one

In [229]:
job_col_df.rename(columns={'skills': 'required_skills'}, inplace=True)
emp_cols_df.rename(columns={'skills': 'employee_skills'}, inplace=True)

C:\Users\Mewandi\AppData\Local\Temp\ipykernel_13716\1312139321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_col_df.rename(columns={'skills': 'required_skills'}, inplace=True)
C:\Users\Mewandi\AppData\Local\Temp\ipykernel_13716\1312139321.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emp_cols_df.rename(columns={'skills': 'employee_skills'}, inplace=True)

In [230]:
total_df = pd.concat([job_col_df, emp_cols_df])

In [231]:
total_df = pd.DataFrame(total_df)

In [232]:
100 * total_df.isnull().sum() / len(total_df)

jobTitle           87.240233
description        87.240233
status             87.240233
required_skills    87.240233
functionalArea     17.456359
employee_skills    12.759767
dtype: float64

In [233]:
for i in total_df:
    total_df[i] = total_df[i].fillna(" ")

In [234]:
100 * total_df.isnull().sum() / len(total_df)

jobTitle           0.0
description        0.0
status             0.0
required_skills    0.0
functionalArea     0.0
employee_skills    0.0
dtype: float64

In [235]:
total_df = total_df.reset_index().rename(columns={'index': 'index'})

In [236]:
total_df.head(3)

,index,jobTitle,description,status,required_skills,functionalArea,employee_skills
0,0,Plant Maintenance Engineer,"Read and understand the data from P&ID, PEFS, ...",Active,"{""Plant Maintenance""}",,
1,1,Adobe Analytics developer,An understanding of the marketing technologies...,Active,"{""Adobe anaytics"",Agile,tableau,Marketo,""power...",,
2,2,AEM architect,"To analyze, understand the client’s business u...",Active,"{JIRA,Confluence,AEM}",,

In [237]:
def get_jobtitle_by_index(index):
    return total_df[total_df.index == index]['jobTitle']
def get_index_by_jobtitle(jobTitle):
    return total_df[total_df.jobTitle == jobTitle]['index']

In [293]:
required_cols = ['description', 'status', 'required_skills', 'functionalArea', 'employee_skills']

def get_required_cols_by_jobtitle(jobtitle):
    row = total_df.loc[total_df['jobTitle'] == jobtitle, required_cols]
    return row.to_dict(orient="records")

#print(get_required_cols_by_jobtitle(total_df["jobTitle"].iloc[2]))

In [238]:
def combine_cols(row):
    try:
        text = row['description'] +' '+ row['status'] +' '+ row['required_skills'] +' '+ row['functionalArea'] +' '+ row['employee_skills']
        return text
    except:
        print(f"The error is in a row: {row['index']}")

In [270]:
total_df['combined_text'] = total_df.apply(combine_cols, axis=1)
# total_df['combined_text']

In [240]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

count_matrix = cv.fit_transform(total_df['combined_text'])

In [241]:
count_matrix

<2406x3929 sparse matrix of type '<class 'numpy.int64'>'
	with 33331 stored elements in Compressed Sparse Row format>

In [242]:
'''
for ele in count_matrix:
    print(ele)
'''

'\nfor ele in count_matrix:\n    print(ele)\n'

In [243]:
from sklearn.metrics.pairwise import cosine_similarity
cos_similarity = cosine_similarity(count_matrix)

In [244]:
'''
for ele in cos_similarity:
    print(ele)   
'''

'\nfor ele in cos_similarity:\n    print(ele)   \n'

In [245]:
total_df.columns

Index(['index', 'jobTitle', 'description', 'status', 'required_skills',
       'functionalArea', 'employee_skills', 'combined_text'],
      dtype='object')

In [295]:
def job_finder():
    job_name = input("Which is your favorite job?: ")
    job_index = get_index_by_jobtitle(job_name)
    similar_job = list(enumerate(cos_similarity[job_index].flatten())) # enumerate(...): This adds indexes to each element in the similarity vector [1, 0.23],...
    sorted_similer_job = sorted(similar_job, key = lambda x:x[1], reverse=True)

    print("You must have the required qualification!: ")
    for job in sorted_similer_job:
        try:
            if (get_jobtitle_by_index(job[0]) == job_name).any():
                   print(f"\n{get_required_cols_by_jobtitle(job_name)}")
        except:
            print(f"The required job does not exist")

job_finder()

Which is your favorite job?:  Plant Maintenance Engineer

You must have the required qualification!:

[{'description': 'Read and understand the data from P&ID, PEFS, SLD, I/O list, line list, Cause & effect, Hazardous area classification, Alarm & Trip, F&G etc. Populating technical details from Various sources. Preparing Asset & maintenance plan data. Preparation of SPIR data. Bill of Material Build.\r\nImmediate/30 days.\r\n02 to 05 Years experience\r\nEducation : B.E or B.Tech - MECH/EEE/ECE/IE/ICE', 'status': 'Active', 'required_skills': '{"Plant Maintenance"}', 'functionalArea': ' ', 'employee_skills': ' '}]

In [252]:
#total_df.head(3)

,index,jobTitle,description,status,required_skills,functionalArea,employee_skills,combined_text
0,0,Plant Maintenance Engineer,"Read and understand the data from P&ID, PEFS, ...",Active,"{""Plant Maintenance""}",,,"Read and understand the data from P&ID, PEFS, ..."
1,1,Adobe Analytics developer,An understanding of the marketing technologies...,Active,"{""Adobe anaytics"",Agile,tableau,Marketo,""power...",,,An understanding of the marketing technologies...
2,2,AEM architect,"To analyze, understand the client’s business u...",Active,"{JIRA,Confluence,AEM}",,,"To analyze, understand the client’s business u..."